<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Hangman API - Add new word</title>
</head>
<body>
    <h1>Add a new word to our Hangman database!</h1>
    <table>
        <thead>
            <tr>
                <th>Word</th>
                <th>Play counts</th>
            </tr>
        </thead>
        <tbody>
            {% for row in db %}
                <tr>
                    <td>{{ row['words'] }}</td>
                    <td>{{ row['counts'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h1>{% block title %} Add New Word {% endblock %}</h1>

    <form method="POST">
        <div class="form-group">
            <label for="word">Word</label>
            <input type="text" name="word"
                placeholder="Add Word" class="form-control"
                value="{{ request.form['word'] }}">{{ field_name }}</input>
        </div>
    </form>
</body>
</html>